.burger-menu__switcher
  display: flex
  width: 50px
  height: 50px
  background-color: $black
  border-radius: 50%
  justify-content: center
  flex-direction: column
  align-items: center
  cursor: pointer
  z-index: 200

  i
    display: flex
    content: ''
    transition: ease-out 0.2s
    height: 2px
    width: 50%
    margin-bottom: 5px
    margin-top: 5px
    background-color: #fff

  &::before
    content: ''
    display: flex
    transition: ease-out 0.2s
    height: 2px
    width: 50%
    background-color: #fff

  &::after
    display: flex
    content: ''
    transition: ease-out 0.2s
    height: 2px
    width: 50%
    background-color: #fff