.burger-menu__switcher_open

  &::after
    position: absolute
    transition: ease-out 0.2s
    transform: rotate(-45deg)
    margin: 0

  &::before
    position: absolute
    transition: ease-out 0.2s
    transform: rotate(45deg)
    margin: 0

  i
    opacity: 0